{% extends "admin/change_list.html" %}
{% load admin_urls i18n %}

{% block object-tools-items %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a
      class="addlink"
      {% if external_qs %}
        href="{{ add_url }}?{{ external_qs }}"
      {% else %}
        href="{% add_preserved_filters add_url is_popup to_field %}"
      {% endif %}
    >
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
{% endblock %}

{% block footer %}
  {{ block.super }}
  {% include 'admin/core/valid_message_origins.html' %}
{% endblock %}
